body {
  background: url(../Content/img/header-bg.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.container h1, div.container h2 {
  font-family: Oswald, sans-serif;
  color: #fff;
  text-transform: uppercase;
}
div.container h1 {
  font-size: 70px;
  font-weight: 700;
}
.logo {
  text-align: left;
  margin-left: 20px;
  margin-top: 15px;
}
div.container div.col-4 select {
  font-family: Oswald, sans-serif;
  color: #000;
  padding: .4rem .4rem;
}
p {
  color: #fff;
  font-family: Oswald, sans-serif;
}
.border-bottom{
  border-bottom:2px solid #fff;
}
/** loader **/
#loadFacebookG {
  width: 125px;
  height: 125px;
  display: block;
  position: relative;
  margin: auto;
}

.facebook_blockG {
  background-color: rgb(255,255,255);
  border: 3px solid rgb(0,0,0);
  float: left;
  height: 89px;
  margin-left: 7px;
  width: 23px;
  opacity: 0.1;
  animation-name: bounceG;
  -o-animation-name: bounceG;
  -ms-animation-name: bounceG;
  -webkit-animation-name: bounceG;
  -moz-animation-name: bounceG;
  animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
}

#blockG_1 {
  animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
}

#blockG_2 {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}

#blockG_3 {
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}



@keyframes bounceG {
  0% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(0.7);
    opacity: 0.1;
  }
}

@-o-keyframes bounceG {
  0% {
    -o-transform: scale(1.2);
    opacity: 1;
  }

  100% {
    -o-transform: scale(0.7);
    opacity: 0.1;
  }
}

@-ms-keyframes bounceG {
  0% {
    -ms-transform: scale(1.2);
    opacity: 1;
  }

  100% {
    -ms-transform: scale(0.7);
    opacity: 0.1;
  }
}

@-webkit-keyframes bounceG {
  0% {
    -webkit-transform: scale(1.2);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.7);
    opacity: 0.1;
  }
}

@-moz-keyframes bounceG {
  0% {
    -moz-transform: scale(1.2);
    opacity: 1;
  }

  100% {
    -moz-transform: scale(0.7);
    opacity: 0.1;
  }
}
#loadFacebookGWrap{
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background-color: rgba(255,255,255,0.6);
  z-index:9999;
}
.facebook_blockG{
  z-index:99999;
}
/** loader end **/
@media (max-width:768px){
  div.container div.col-4 {
    min-width: 400px;
    margin: 0 auto;
  }
  div.container div.col-4.float-left{
    float:none!important;
  }
  div.container div.col-8.float-left.mt-5{
    min-width:720px;
    margin: 0 auto;
    float:none!important;
    padding:0;
  }
  div.container{
    padding:0;
    margin:0;
  }
}
@media (max-width:425px)
{
  div.container div.col-8.float-left.mt-5 {
    min-width: 360px;
  }
    div .container div.col-4.float-left {
    float: none !important;
  }
  body, select {
    font-size: 1.3rem;
  }
  div.container p.float-left {
    display: block;
    width: 50%;
    max-width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
